<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
    <targets>
      <target name="fileLogTrace" type="File" fileName="${logDirectory}/trace.txt" encoding="UTF-8"/>
      <target name="fileLogDebug" type="File" fileName="${logDirectory}/debug.txt" encoding="UTF-8"/>
      <target name="fileLogInfo" type="File" fileName="${logDirectory}/info.txt" encoding="UTF-8"/>
      <target name="fileLogErrors" type="File" fileName="${logDirectory}/errors.txt" encoding="UTF-8"/>
      <target name="fileLogWarnings" type="File" fileName="${logDirectory}/warn.txt" encoding="UTF-8"/>
      <target name="fileLogAddCrosses" type="File" fileName="${logDirectory}/crosses.txt" encoding="UTF-8"/>
      <target name="integration-febest" type="File" fileName="${logDirectory}/provider-febest.txt" encoding="UTF-8"/>
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace"/>
      <logger name="*" level="Debug" writeTo="fileLogDebug"/>
      <logger name="*" level="Info" writeTo="fileLogInfo"/>
      <logger name="*" level="Error" writeTo="fileLogErrors"/>
      <logger name="*" level="Warn" writeTo="fileLogWarnings"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="ApiUrl" value="http://localhost:8044/api/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>